#bgg{
position: relative;
overflow: hidden;
background: linear-gradient(90deg, #212529, #343a40); /* Cambia el angulo del gradiente */
animation: gradientAnimation 10s infinite linear; /* Cambia la direccion a linear */
height: 100vh;
}

/*efectos*/
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

#Projects {
    margin-top: 60px;
    margin-bottom: 60px;
}
 h1{
    text-align: center;
    color: white;
}
